.boards {
    display: flex;
    flex-direction: column;
    padding-left: 25%;
    width: 50%;
}

.board {
    width: 100%;
    min-height: 5vh;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    display: flex;
}

.spacer {
    flex: 1;
}

.bold {
    flex: 1;
    font-weight: 900;
}

.buttons {
    flex: 1;
}