.board_list {
    display: flex;
    flex-direction: column;
}

.boards {
    display: flex;
    flex-direction: column;
}

.board {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    display: flex;
    flex-direction: row;
}

.board div {
    padding: 2px;
}

.board.selected {
    color: gray;
    font-weight: 900;
    background-color: lightgray;
}

.spacer {
    flex: 1;
}

.name {
    flex: 1;
    font-weight: 900;
    min-width: 10vw;
    padding-left: 5px;
}

.buttons {
    flex: 1;
}

.title {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: darkgray;
    display: flex;
    padding-right: 10px;
}