.tasklist {
    width: 100%;
    display: inline-flex;
    border: 10px;
    vertical-align: top;
    flex: 1;
    overflow-y: scroll;
    height: 80vh;
}

.stage {
    width: 100%;
    display: inline-block;
    flex: 1;
    padding: 10px;
}

.title {
    font-size: 20px;
    font-weight: 500;
    font-family: Roboto, Helvetica Neue, sans-serif;
    padding-block-end: 10px;
}

.task {
    width: 100%;
}

.card_content {
    width: 100%;
}