.task_box {
    display: flex;
    border: 1px solid transparent;
    flex-direction: column;
}

.task_title {
    background-color: #ffeda3;
    padding: 10px;
    display: flex;
}

.buttons i {
    color: burlywood;
}

.task_description {
    background-color: #ffe680;
    padding: 10px;
    min-height: 50px;
    display: flex;
    flex-wrap: nowrap;
}

.task_description p {
    display: flex;
    flex-wrap: wrap;
}

.spacer {
    flex: 1;
}

.yellow {}

.green {
    background-color: green;
}

.bold {
    font-weight: 600;
}