<md-sidenav-container class="example-container">
    <md-sidenav #sidenav class="example-sidenav">
        <app-board-list></app-board-list>
    </md-sidenav>
    <md-toolbar class="main">
        <i class="fa fa-bars" aria-hidden="true" (click)="sidenav.open()"></i>
        <span>{{board.title}}</span>
        <span class="toolbar-spacer"></span>
    </md-toolbar>
    <div class="stages">
        <app-stage *ngFor="let stage of board.stages" title="{{stage}}" class="stage"></app-stage>
    </div>
    <button class="plus-button" (click)="onAddTask($event)" md-fab>
            <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
</md-sidenav-container>