.toolbar-icon {
    padding: 0 14px;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.stages {
    display: flex;
    display: -webkit-flex;
    width: 98%;
    flex-direction: row;
    overflow-x: visible;
}

.toolbar {
    flex: 1;
}

.stage {
    flex: 1;
}

#title {
    font-weight: 900;
    font-size: 20px;
    font-family: Roboto, Helvetica Neue, sans-serif;
}

.plus-button {
    position: fixed;
    top: 75vh;
    left: 90vw;
}

.sidebar {
    width: 20vw;
}

.boardlist {
    padding: 2px;
}