.toolbar-icon {
    padding: 0 14px;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.stages {
    display: flex;
    display: -webkit-flex;
    width: 100%;
    flex-direction: row;
}

.stage {
    flex: 1;
}