<h1 md-dialog-title>Add/Edit Board</h1>
<div md-dialog-content>
    <md-input-container>
        <input [(ngModel)]="_board.title" mdInput placeholder="Title">
    </md-input-container>
    <br/>
    <md-checkbox>Default</md-checkbox>
    <md-chip-list *ngFor="let stage of _board.stages; let i = index;">
        <md-chip>{{stage}}</md-chip>
    </md-chip-list>

    <md-input-container>
        <input [(ngModel)]="stageName" mdInput placeholder="Stage name">
    </md-input-container>
    <button md-button (click)="addStage()">+</button>
</div>
<div md-dialog-actions>
    <button md-button (click)="_dialogRef.close('Cancel')">Cancel</button>
    <button md-button (click)="okClick()">OK</button>
</div>